﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
	<style type="text/css">
	 .spanErrorMessage
	 {
	 color: red;
	 }
	 
	 .spanOutput
	 {
	 color: blue;
	 }
	 .noteData
	 {
	 color: green;
	 }
    </style>
</head>
<body ng-app="App">
	<script src='/Scripts/jquery-2.2.2.min.js'></script>
    <script type="text/javascript" src="/Scripts/RestClient.js"></script>
    <form name="form">
        <table>
            <tr>
                <td>
                    <label>Rest API Url: </label>
                </td>
                <td>
                    <a id="restUrl" href="http://localhost:3000/">http://localhost:3000/ </a>
                </td>
            </tr>

            <tr>
                <td>
                    <label>Select Method: </label>
                </td>
                <td>
                    <select id="ddlMethod">
                        <option selected="selected" value="PST">POST</option>
                        <option value="GET">GET</option>
                        <option value="PUT">PUT</option>
                        <option value="DEL">DELETE</option>
                    </select>
                </td>

            </tr>
        </table>


        <div id="divGetDelete" style="display:none;" ng-model="model">
            <table>
                <tr>
                    <td>
                        <label>Enter Emp ID:</label>
                    </td>
                    <td>
                        <input type="text" id="txtID"  required="required" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label class="noteData">Please refer db.json for stored Emp Id.</label>
                    </td>
                </tr>
            </table>

        </div>
        <div id="divPostPut" ng-model="model1">
            <table>
                <tr>
                    <td>
                        <label>Enter Emp Name: </label>
                    </td>
                    <td>
                        <input type="text" id="txtEmpName"  required="required" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Enter Emp Designation: </label>
                    </td>
                    <td>
                        <input type="text" id="txtEmpDesignation"  required="required" />
                    </td>
                </tr>
            </table>
        </div>
		<div align="center">
        <table>
            <tr>
                <td>
                    <input type="submit" id="btnOk" value="OK" />
                </td>
                <td>
                    <input type="submit" id="btnCancel" value="Cancel" ng-click="resetForm()" />
                </td>
            </tr>
        </table>
		</div>
		<div>
			<span id="spanErrorMessage" class="spanErrorMessage"></span></br>
            <span id="spanOutput" class="spanOutput"></span>
        </div>
    </form>

</body>
</html>
